<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Data│Sirius</title>
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="assets/images/logo.png">
    <meta property="og:description" content="">

    <link rel="icon" href="assets/images/common_ico/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="assets/css/common/common.css">
    <link rel="stylesheet" href="assets/css/data.css">
</head>

<body>
    <header>
        <ul id="mainMenu" class="c-mainMenu">
            <menu-item v-for=" item in menu" v-bind:item="item"></menu-item>
        </ul>
    </header>
    <main>
        <div class="c-fixedbg"></div>
        <aside id="memberAside" class="c-aside">
            <ul>
                <member-menu-item v-for=" item in menu" v-bind:item="item"></member-menu-item>
                <!-- <li>
                    <a href="" title="Basic"><img src="assets/images/common/icon_member_white.svg">Basic</a>
                </li>
                <li>
                    <a href="" title="Attack"><img src="assets/images/common/icon_attack_white.svg">Attack</a>
                </li>
                <li>
                    <a href="" title="Pitcher"><img src="assets/images/common/icon_baseball_white.svg">Pitcher</a>
                </li>
                <li>
                    <a href="" title="Defend"><img src="assets/images/common/icon_glove_white.svg">Defend</a>
                </li> -->
            </ul>
            <div class="c-aside__bt"></div>
        </aside>
        <div class="data__inner">
            <div class="data__inner__head">
                <figure class="data__inner__head__pic">
                    <img src="assets/images/data/pic.jpg" alt="">
                </figure>
                <p class="data__inner__head__number">02</p>
                <p class="data__inner__head__name">Lancer</p>
            </div>
            <!--攻擊數據-->
            <h2 class="data__inner__title">Attack Data</h2>
            <div class="data__item">
                <h3 class="data__item__title">BA</h3>
                <p class="data__item__digital">3.68</p>
            </div>
            <div class="data__item">
                <h3 class="data__item__title">OBP</h3>
                <p class="data__item__digital">4.18</p>
            </div>
            <div class="data__item">
                <h3 class="data__item__title">SLG</h3>
                <p class="data__item__digital">7.68</p>
            </div>
            <!--投球數據-->
            <h2 class="data__inner__title">Pitcher Data</h2>
            <div class="data__item">
                <h3 class="data__item__title">ERA</h3>
                <p class="data__item__digital">0.02</p>
            </div>
            <div class="data__item">
                <h3 class="data__item__title">K/9</h3>
                <p class="data__item__digital">1</p>
            </div>
            <div class="data__item">
                <h3 class="data__item__title">BB/9</h3>
                <p class="data__item__digital">1</p>
            </div>
            <!--守備數據-->
            <h2 class="data__inner__title">Defend Data</h2>
            <div class="data__item">
                <h3 class="data__item__title">FPCT</h3>
                <p class="data__item__digital">7.68</p>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
<script src="assets/js/common/plugin/vue.js"></script>
<script src="assets/js/common/vueData.js"></script>
<script src="assets/js/common/plugin/jquery-3.4.1.min.js"></script>
<script src="assets/js/common/common.js"></script>

</html>