@charset "UTF-8";
main {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form__title {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 24px;
}

.form__subtitle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 0 0 5px 0;
    margin: 40px auto 20px auto;
    border-bottom: 1px solid #fff;
}

.form__subtitle__link {
    display: inline-block;
    transition: color .4s ease-in-out;
}

.form__subtitle__link:hover,
.form__subtitle__link.active {
    color: #FFB11B;
}

input,
select {
    width: 100%;
    padding: 10px 5px;
    margin: 0 0 10px 0;
    font-size: 16px;
    outline: none;
}

input:focus,
select:focus {
    outline: none;
}

.form button {
    display: block;
    background: #fff;
    border: none;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: opacity .4s ease-in-out;
}

.form button:hover {
    opacity: .7;
}