@charset "UTF-8";
.game {
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 100px 0 0 0;
    text-align: center;
}

.game__item {
    display: block;
    background: rgba(255, 255, 255, .2);
}