@charset "UTF-8";
.game {
    width: calc(100% - 60px);
    margin: 0 auto;
    padding: 100px 0 0 0;
    text-align: center;
}

.game__date {
    font-size: 24px;
    margin: 0 auto 20px auto;
}

.game__title {
    text-align: center;
    font-size: 28px;
}

.game__board {
    display: inline-block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
}

.game__board::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.game__board::-webkit-scrollbar-thumb {
    background-color: #999;
}

.game__board::-webkit-scrollbar-track {
    background-color: #ccc;
    border-left: 0px;
}

.game__board__block {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.game__board__block p {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 50px;
    border: 1px solid #fff;
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 1;
    padding: 10px;
    background: rgba(255, 255, 255, .2);
    flex: 0 0 50px;
}

p.game__board__block__title {
    width: 150px;
    flex: 0 0 150px;
}

.game__description {
    width: 100%;
}

.game__description span {
    display: inline-block;
    margin: 0 10px;
}


/****比賽內容****/

.game__content {
    width: 100%;
    margin: 0 auto 40px auto;
    overflow-x: auto;
}

.game__content__inner {
    /* display: none; */
}

.game__content__title {
    width: 100%;
    font-size: 18px;
    padding: 10px 70px 5px 0;
    letter-spacing: 2px;
    border-bottom: 1px solid;
    text-align: left;
    cursor: pointer;
}

.game__content__title__score {
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 14px;
}

.game__content__title__score::before {
    content: '得分：';
}

.game__content__inner__item {
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-items: center;
    justify-content: center;
    border-top: 1px solid;
}

.game__content__inner__item:first-child {
    border: none;
}

.game__content__inner__item p {
    padding: 5px 0;
    background: rgba(255, 255, 255, .2);
    border-right: 1px solid #fff;
}

.game__content__inner__item p:last-child {
    border: none;
}

.game__content__inner__item__hit,
.game__content__inner__item__pitcher,
.game__content__inner__item__direction,
.game__content__inner__item__result,
.game__content__inner__item__score {
    width: 50px;
    flex: 0 0 50px;
}

.game__content__inner__item__process,
.game__content__inner__item__remark {
    width: calc(50% - 125px);
    flex: 0 0 calc(50% - 125px);
}

.game__content__inner__item__process {
    letter-spacing: 4px;
}


/**結果顏色樣式**/

.game__content__inner__item__result.red {
    background: rgba(244, 167, 185, .8);
}

.game__content__inner__item__result.green {
    background: rgba(123, 162, 63, 1);
}

.game__content__inner__item__result.blue {
    background: rgba(38, 135, 133, .1);
}

.game__content__inner__item__result.yellow {
    background: rgba(255, 196, 8, .8);
}

.game__content__inner__item__result.redWword {
    color: #CB1B45;
}