@charset "UTF-8";
.c-loading {
    display: none;
}

main {
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

main::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/login/login_bg.jpg) center no-repeat;
    background-size: cover;
    filter: blur(4px);
    z-index: -200;
}

main::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #1F2847;
    opacity: .4;
    filter: brightness(.8);
    z-index: -100;
}

.login {
    width: 90%;
    max-width: 380px;
    padding: 40px 0;
    margin: -50px auto 0 auto;
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 20px;
    background: rgba(255, 255, 255, .1);
}

.login__title {
    text-align: center;
    font-size: 28px;
    margin: 0 auto 40px auto;
}

.login input[type="text"],
.login input[type="password"] {
    display: block;
    width: calc(100% - 60px);
    max-width: 250px;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 14px;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: #fff;
}

.login input[type="text"]::placeholder,
.login input[type="password"]::placeholder {
    color: #fff;
}

.login input[type="submit"] {
    display: block;
    margin: 0 auto;
    background: rgba(255, 255, 255, .7);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
}

.login input[type="submit"]:hover {
    background: #fff;
}