@charset "UTF-8";
.member {
    width: calc(100% - 60px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

.member__inner {
    display: flex;
    flex-wrap: wrap;
}

.member__inner__item {
    width: calc(25% - 20px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 20px 30px;
    margin: 0 10px 20px 10px;
    background: var(--menuBg);
    transition: background-color .4s ease-in-out;
}

.member__inner__item:hover {
    background: rgba(255, 255, 255, .4);
}

.member__inner__item__pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 20px 0 0;
    overflow: hidden;
    flex: 0 0 60px;
}

.member__inner__item__text {
    width: calc(100% - 80px);
}

.member__inner__item__text__number {
    font-size: 18px;
    margin: 0 20px 0 0;
}

.member__inner__item__text__name {
    font-size: 18px;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .member__inner__item {
        width: calc(50% - 80px);
    }
}

@media only screen and (max-width: 575px) {
    .member__inner__item {
        width: 100%;
        margin: 0 auto 10px auto;
    }
}