@charset "UTF-8";

/****主色調變數****/

:root {
    --main: #1F2847;
    --menuBg: rgba(255, 255, 255, .1);
    --yellow: #FFB11B;
    --brown: #E2CDA1;
}


/****文字樣式****/

@font-face {
    font-family: "NotoSansTC";
    font-display: swap;
    src: url(../../fonts/NotoSansTC/NotoSansTC-Regular.otf) format("opentype");
}

@font-face {
    font-family: "NotoSansTC";
    font-display: swap;
    src: url(../../fonts/NotoSansTC/NotoSansTC-Bold.otf) format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "NotoSansTC";
    font-display: swap;
    src: url(../../fonts/NotoSansTC/NotoSansTC-Light.otf) format("opentype");
    font-weight: lighter;
}


/****樣式初始化****/

body,
main,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
img {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

div,
img {
    display: block;
}

img {
    width: 100%;
    pointer-events: none;
    user-select: none;
}

a {
    color: #fff;
    text-decoration: none;
}


/****共用樣式****/

body {
    background: var(--main);
    color: #fff;
    font-family: 'NotoSansTC', Helvetica, sans-serif
}

.c-mainMenu {
    display: flex;
    z-index: 999;
}

.c-aside {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 90px;
    height: 100%;
    background: var(--menuBg);
}

.c-aside ul {
    display: block;
    width: 100%;
    padding: 50px 0 0 0;
}

.c-aside ul li {
    display: block;
    width: 100%;
    margin: 50px auto;
}

.c-aside ul li a {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: center no-repeat;
    background-size: contain;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    opacity: .7;
    transition: opacity .4s ease-in-out;
}

.c-aside ul li a:hover {
    opacity: 1;
}

.c-aside ul li a img {
    width: 30px;
    margin: 0 auto 5px auto;
}